<div id="page-content">
<h1 class="text-center mt-4"><%= @user.username %></h1>

<div class="text-center mt-4"><%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %></div>

<div class="apple_pagination mb-2">
     <%= will_paginate @articles, :container => false %>
</div>
<%= render 'articles/article' %>