
<div class="row justify-content-md-center">
    <div class="col-9 mt-2">
    <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
            
            by Jan Walczak
            
        </div>
        <div class="card-body">
            <h5 class="card-title"><strong>Jan Walczak</strong></h5>
            <p class="card-text">Dzień dobry. Strona ta powstała podczas mojej na razie krótkiej przygody z językiem Ruby na frameworku Rails. Głównymi źródłami, z których do tej pory korzystałem były:</p>
            <ul>
                <li><a href="https://www.udemy.com/course/the-complete-ruby-on-rails-developer-course/">Kurs Mashrura Hossaina na platformie udemy.com</a></li>
                <li>Repozytoria na platformie GitHub</li>
                <li>Specyfikacja Ruby on Rails</li>
            </ul>
        </div>
        
    </div>
    </div>
    </div>