
<div id="page-content">
<div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
            <h1 class="display-4">JW BLOG</h1>
            <p class="lead">This is a simple blog-like app project. Feel free to check it out</p>
            <hr class="my-4">
            
            <%= link_to "Sign up!", signup_path, class: "btn btn-primary btn-lg"%>
        </div>
</div>
</div>


