@import '/bootstrap/dist/css/bootstrap';
.navbar{
    background-color: #6200b3 !important;

}

.btn:link{
    color: #ffffff !important;
    background-color: #6200b3 !important;
    outline-color: #ffffff !important;
    border-color: #ffffff !important;
    
}
.btn2{
    color: #ffffff !important;
    background-color: #6200b3 !important;
    outline-color: #ffffff !important;
    border-color: #ffffff !important;
    
}

.btn:hover{
    border: show;
}
.nav-link{
    color: #ffffff !important;
}

.navbar-brand{
    color: #ffffff !important;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}
#home-container{
    margin-top: 30px;
}

.jumbotron{
    background-image: asset-url('darkness-copy.jpg');
    background-position: center-center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    
}
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: #dbdbdbcb;
}

#sticky-footer {
  flex-shrink: none;
  position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #6200b3;
    text-decoration-color: #ffffff;
}

.articles-colors{
    color: #6200b3 !important;
}

.index-links{
    margin: 7px;
    
    border: 2px groove #6200b3;
    
    background-color:  #ffffff;
    outline-style: round;
    outline-color: #6200b3;
    outline-width: 5px;
    color: #000000;
    
}

.description-show{
    
    margin-top: 10px;
}
