<div id="page-content">
<h1 class="text-center mt-4">Create a new category</h1>

<div class="container" id="edittt">
    <%= render 'form' %>
    
    <p class="row justify-content-center mb-3">
        <%= link_to '[ Cancel and return to categories listings ]', categories_path(), class: "text-dark" %>
    </p>

</div>


</div>